@import './variables.scss';

ul.list-scroller {
	display: flex;
	flex-direction: row;
	gap: $margin-s;
	padding: $margin-s 0;
	overflow-x: scroll;
	margin: $margin-s 0;

	& > :first-child {
		margin-left: $margin-m;
	}

	& > :last-child {
		margin-right: $margin-m;
	}

	li {
		list-style-type: none;
		background-color: $background-10;
		padding: $margin-s;
		border-radius: $radius;
		max-width: 144px;

		transition: all 0.15s ease-out;

		&.add-more p {
			text-align: center;
		}

		& > img {
			object-fit: cover;
			height: 144px;
			aspect-ratio: 1/1;
			background-image: url('/images/reShuffle-icon.svg');
		}

		h2 {
			font-size: $h4;
			height: calc($h4 * 1.35);
			overflow: hidden;
			text-align: center;
		}

		.playlist-buttons {
			margin-top: $margin-xs;
			display: grid;
			grid-template-columns: 1fr 1fr;
			justify-items: center;
		}

		button,
		a {
			display: grid;
			align-items: center;
			height: $margin-l;
			width: $margin-l;
			transition: all 0.1s ease-out;

			&:hover:not(:disabled),
			&:focus:not(:disabled) {
				transform: translateY(2px);
				cursor: pointer;
			}

			&:disabled {
				transform: none;
			}
		}

		button {
			background-color: transparent;
			padding: 0;
			fill: $primary;
		}

		&:hover {
			background-color: $background-15;

			button,
			a {
				transition: all 0.15s ease-out;
				width: $margin-l;
			}
		}
	}

	&::-webkit-scrollbar-track {
		margin: $margin-m;
	}
}
