@import './variables.scss';

body {
	background-color: $background;
	color: $text;
	font-family: system-ui, 'Segoe UI', Roboto, Ubuntu, Oxygen-Sans, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	margin: 0;
	user-select: none;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
	line-height: $line-height;
	cursor: default;
	text-align: center;
}

p {
	font-size: $p;
	text-align: left;
}

h1 {
	font-size: $h1;
}

h2 {
	font-size: $h2;
}

h3 {
	font-size: $h3;
}

h4 {
	font-size: $h4;
}

button {
	background-color: $primary;
	border-radius: $radius;
	border: none;
	padding: $margin-s $margin-m;
	color: $background;
	font-weight: bold;
	font-size: $p;
	transition: all 0.1s ease-out;

	&:hover:not(:disabled),
	&:focus:not(:disabled) {
		transform: translateY(2px);
		cursor: pointer;
	}

	&:disabled {
		transform: translateY(2px);
		background-color: $primary-40;
	}
}

::-webkit-scrollbar {
	height: $margin-xs;
	width: $margin-xs;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: $background-10;
	border-radius: $radius;
}

::-webkit-scrollbar-thumb:hover {
	background: $background-15;
}

@media screen and (min-width: 1000px) {
	main {
		display: grid;
		grid-template-columns: calc(100vw - 400px) 400px;
		grid-template-rows: calc(100vh - $playbackHeight) $playbackHeight;
		grid-template-areas:
			'playlists queue'
			'controls controls';

		.playlists {
			grid-area: playlists;
		}

		.controls {
			grid-area: controls;
		}

		.queue {
			grid-area: queue;
		}
	}
}

@media screen and (min-width: 1300px) {
	main {
		grid-template-areas:
			'playlists queue'
			'controls queue';
	}
}
