@import './variables.scss';

.queue {
	padding: $margin-m $margin-m 0;
	box-shadow: calc(0px - $margin-s) 0 $margin-s 0 $background;
	z-index: 1;

	& > * {
		margin-bottom: $margin-s;
	}

	h2 {
		font-size: $h3;
	}

	ol {
		display: flex;
		flex-direction: column;

		margin: 0;
		padding: 0;
		padding-right: $margin-xs;
		height: calc(
			100svh - $margin-m - ($h1 * $line-height) - (2 * $h3 * $line-height) - (6 * $margin-s) - 64px
		);
		overflow-y: scroll;
		list-style: none;

		li {
			margin-bottom: $margin-s;
		}
	}
}
