@import './variables.scss';

.queue {
	padding: $margin-m $margin-m 0;
	box-shadow: calc(0px - $margin-xs) -4px $margin-xs 0 $background;
	z-index: 1;

	& > * {
		margin-bottom: $margin-s;
	}

	h2 {
		font-size: $h3;
	}

	ol {
		display: flex;
		flex-direction: column;

		margin: 0;
		padding: 0;
		overflow-y: scroll;
		list-style: none;

		li {
			margin-bottom: $margin-s;
		}
	}
}

@media screen and (min-width: 900px) {
	.queue ol {
		padding-right: $margin-xs;
		height: calc(
			100svh - $margin-m - ($h1 * $line-height) - (2 * $h3 * $line-height) - (6 * $margin-s) -
				$playingImage - $playbackHeight
		);
	}
}

@media screen and (min-width: 1300px) {
	.queue ol {
		height: calc(
			100svh - $margin-m - ($h1 * $line-height) - (2 * $h3 * $line-height) - (6 * $margin-s) -
				$playingImage
		);
	}
}
