$text: #fdfdfd;
$background: #101212;
$background-10: hsl(180, 6%, 10%);
$background-15: hsl(180, 6%, 15%);
$primary: #00affe;
$primary-40: hsl(199, 100%, 40%);

$line-height: 1.3;
$font-scale: 1.2;
$p: 1rem;
$h4: calc($p * $font-scale);
$h3: calc($h4 * $font-scale);
$h2: calc($h3 * $font-scale);
$h1: calc($h2 * $font-scale);

$margin-xs: 8px;
$margin-s: 12px;
$margin-m: 24px;
$margin-l: 48px;
$margin-xl: 72px;

$radius: $margin-xs;

$playingImage: 64px;
$playbackHeight: calc($playingImage + (2 * $margin-s) + (3 * $margin-m) + $margin-l);
